.bdr{
    height: 30px;
    border: 2px dotted #eee;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.container-fluid{
    text-align: center;
    color: orange;
    font-size: 20px;
    text-transform: capitalize;

}
.arow{
    background-color:#eed;
    height: auto;
}